@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Shippori Antique B1;
}

body{
  text-align:center;
  background:#0097e6;
  /* display:flex;
  align-items:center;
  justify-content:center;
  height:100vh; */
}

.app h1 {
  color:#0097e6;
  font-size:40px;
}

.app{
  background-color:#fff;
  width:800px;
  margin:30px auto;
  height:600px;
  border-radius:1px;
  padding:15px;
  overflow-y:scroll;
}


form{
  margin:20px auto;
}

form input{
  width:79%;
  outline:none;
  padding:5px 30px;
  border-radius:2px;
  border:1px solid #ccc;
  padding-left: 10px;
  font-size:20px;
  margin-right:10px;
}

form button{
  width:19%;
  outline:none;
  cursor:pointer;
  background-color:#0097e6;
  border:none;
  padding:7px 30px;
  border-radius:2px;
  font-family:Shippori Antique B1;
  color:#fff;
  text-transform:uppercase;
  font-weight:bold;
  font-size:20px;
}

.lists{
  display:flex;
  justify-content:space-between;
  margin:50px auto;
  background-color: #0097e6;
  padding:15px;
  width:100%;
  color:#fff;
  font-size:25px;
}

ul{
  list-style:none;
}

.div-btns button{
  margin:0 5px;
  padding:5px 15px;
  border:none;
  background-color:#fdcb6e;
  cursor: pointer;
}